body{

font-family:'Poppins',sans-serif;

background:linear-gradient(135deg,#0f172a,#1e293b);

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}

.calculator{

background:rgba(255,255,255,0.05);

backdrop-filter:blur(15px);

padding:30px;

border-radius:20px;

box-shadow:0 20px 60px rgba(0,0,0,0.6);

width:320px;

}

.display input{

width:100%;

height:70px;

border:none;

outline:none;

font-size:32px;

text-align:right;

padding:10px;

border-radius:12px;

background:#020617;

color:#fff;

margin-bottom:20px;

}

.buttons{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:12px;

}

button{

padding:18px;

font-size:18px;

border:none;

border-radius:10px;

background:#1e293b;

color:white;

cursor:pointer;

transition:.2s;

}

button:hover{

transform:scale(1.05);

background:#334155;

}

.operator{

background:#6366f1;

}

.operator:hover{

background:#4f46e5;

}

.equal{

background:#06b6d4;

grid-column:span 2;

}

.equal:hover{

background:#0891b2;

}

.zero{

grid-column:span 2;

}