body{

font-family:Arial;

background:#f1f5f9;

}

.sidebar{

position:fixed;

width:220px;

height:100%;

background:#0f172a;

color:white;

padding:20px;

}

.sidebar ul{

list-style:none;

padding:0;

}

.sidebar li{

padding:12px;

margin-top:10px;

background:#1e293b;

border-radius:6px;

cursor:pointer;

}

.main{

margin-left:240px;

padding:20px;

}

.topbar{

display:flex;

justify-content:space-between;

background:white;

padding:10px;

border-radius:8px;

box-shadow:0 2px 6px rgba(0,0,0,0.1);

}

.dashboard-card{

padding:20px;

border-radius:10px;

box-shadow:0 3px 10px rgba(0,0,0,0.1);

}

.task-card{

padding:20px;

border-radius:10px;

box-shadow:0 3px 10px rgba(0,0,0,0.1);

}

.kanban-column{

background:#e2e8f0;

min-height:250px;

padding:10px;

border-radius:10px;

}

.kanban-task{

background:white;

padding:10px;

margin-top:10px;

border-radius:6px;

box-shadow:0 2px 6px rgba(0,0,0,0.1);

cursor:grab;

}